<!DOCTYPE html>
{%extends 'testapp/base.html'%}
{%block body_block%}
<div class=" jambotron">
<div class="container">
<h1>WELCOME TO DURGA EXAMS</h1>
<h2>RULES:</h2>
<ul>
  <li>Rule-1: You should write exam for one day one only</li>
  <li>Rule-1: You should write exam for one day one only</li>
  <li>Rule-1: You should write exam for one day one only</li>
  <li>Rule-1: You should write exam for one day one only</li>
  <li>Rule-1: You should write exam for one day one only</li>
  <li>Rule-1: You should write exam for one day one only</li>
  <li>Rule-1: You should write exam for one day one only</li>
</ul>
</div>
</div>
{%endblock%}
